* { 
  font-family:sans-serif;
}
h1 { 
  font-size: 2em; 
}
header { 
  text-align: center;
  margin: auto;
  max-width: 50em; 
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 1280px;
  height: 720px;
  border: 1px solid #000000;
}

#caseArea svg {
	cursor: pointer;
	margin: 10px;
}

.briefcase {
	fill:rgb(192,192,192);
}

#caseArea {
	float: left;
}

.caseRow {
	margin: auto;
	display: table;
}

.caseValue {
	fill:rgb(255,255,0);
}

#moneyArea {
	float: left;
  
}

#moneyArea svg {
	margin: 10px;
}

.column {
	float: left;
	width: 50%;
}

#message {
	font-size: 2em;
	text-align: center;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 40em;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -20em;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}